extends ../layout

block content
  .row(ng-controller="driverMappingCtrl")
    .row.pull-right.col-md-3
      a.btn.btn-primary.btn-space(ng-click="getAllDriverMappingPDF()")
        | Download pdf
      a.btn.btn-primary.btn-space(ng-click="sendMailToDrivers($event)", data-message="Are you sure to send email?")
        | Send Mapping
    br

    hr

    .col-sm-12
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            | Drivers and Assigned Students
        .panel-body
          .container-fluid
            .row
              .panel.panel-default.info-card.col-xl-4.col-lg-6.col-md-6.col-sm-12(ng-repeat="driver in driversBucket")
                .row
                  .col-sm-12
                    h4.panel-heading.info-card-header
                      | {{driver.fullname}} ({{driver.displayId}})
                      .small
                        | (capacity = {{driver.totalSeats}})

                  .col-sm-12
                    .list-group
                      .list-group-item.clearfix(ng-repeat="student in driver.students", ng-class="student.attendance ? 'list-group-item-success' : 'list-group-item-danger'")
                        div.pull-left.vcenter
                          | {{student.fullname}}
                        span.pull-right
                          a.btn.btn-danger.pull-right(ng-click="deleteMap(student.studentId, driver.personId)")
                            span.glyphicon.glyphicon-remove

                      .list-group-item.list-group-item-warning(ng-show="!driver.students.length")
                        | This driver does not have any students


    .col-sm-12
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            | Student without Drivers
        .panel-body
          .list-group
            .container-fluid
              .row
                .list-group-item.clearfix.col-lg-6.col-md-6.col-sm-12(ng-repeat="student in studentsBucket", ng-class="student.attendance ? 'list-group-item-success' : ''")
                  | {{student.fullname}} ({{student.country}})
                  .pull-right
                    .form-group.form-inline
                      label
                        | Select driver: &nbsp;&nbsp;
                      select.form-control(ng-model="student.driverId")
                        option(value="{{driver.personId}}", ng-repeat="driver in allAvailableDrivers")
                          |  {{driver.fullname}}
                      a.btn.btn-success(ng-click="addMap(student.studentId, student.driverId)")
                        span.glyphicon.glyphicon-plus
