extends ../layout

block content
  .row(ng-controller="hostMappingCtrl")
    .row.pull-right.col-md-3
      a.btn.btn-primary.btn-space(ng-click="getAllHostMappingPDF()")
        | Download pdf
      a.btn.btn-primary.btn-space.delete(ng-click="sendMailToHosts()", data-message="Are you sure to send email?")
        | Send Mapping
        
    br
          
    hr

    .col-sm-12
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            | Hosts and Assigned Drivers
        .panel-body
          .container-fluid
            .row
              .panel.panel-default.col-lg-4.col-md-6.col-sm-12(ng-repeat="host in hostsBucket")
                .row
                  .col-sm-6
                    h4.panel-heading
                      | {{host.fullname}}
                      .small
                        | (capacity = {{host.maxGuests}}})
                  .col-sm-6
                    .list-group
                      .list-group-item.clearfix(ng-repeat="driver in host.drivers")
                        div.pull-left.vcenter
                          | {{driver.fullname}}
                        span.pull-right
                          a.btn.btn-danger.pull-right(ng-click="deleteMap(driver.personId, host.personId)")
                            span.glyphicon.glyphicon-remove

                      .list-group-item.list-group-item-warning(ng-show="!host.drivers.length")
                        | This host does not have any drivers


    .col-sm-12
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            | Drivers without Hosts
        .panel-body
          .list-group
            .container-fluid
              .row
                .list-group-item.clearfix.col-lg-4.col-md-6.col-sm-12(ng-repeat="driver in driversBucket")
                  | {{driver.fullname}}
                  .pull-right
                    .form-group.form-inline
                      label
                        | Select Host:&nbsp;&nbsp;
                      select.form-control(ng-model="driver.hostId")
                        option(value="{{host.personId}}", ng-repeat="host in allAvailableHosts")
                          | {{host.fullname}}
                      a.btn.btn-success(ng-click="addMap(driver.personId, driver.hostId)")
                        span.glyphicon.glyphicon-plus
