extends ../layout

block content
  div(ng-controller="hostListCtrl")
    a.btn.btn-primary.pull-right(ng-click="getAllHostsPDF()")
      | Download pdf
      
  .container.page-header
    h2.text-danger.text-center
      | List of Hosts

    - if (hosts.length)
      table.table.table-hover(data-toggle="table")
        thead
          tr
            th.hidden-xs(data-sortable="true") Host ID
            th(data-sortable="true") Fullname
            th(data-sortable="true") Email
            th Phone
            th.hidden-xs Action
            
        each host in hosts
          tbody
            tr
              td.hidden-xs= host.displayId
              td= host.fullname
              td= host.email
              td= host.phone
              td.hidden-xs
                a.btn.btn-danger.delete(href='./delete/' + host.personId) delete
    - else
      .alert.alert-info
        strong
          | Sorry!
        |  No host has registered yet!
