extends ../layout

block content

  img.img-responsive(src="/images/tour-header.jpg")

  .container.page-header
    h2.text-danger.text-center
      | Driver-Host-Volunteer Registration

  form.form-horizontal(action="/person/register" method="post")
    .form-group
      label.control-label.col-sm-3(for='fullname') Full Name:
      .col-sm-9
        input#fullname.form-control(type='text', name='fullname', placeholder='Enter your fullname', required)

    .form-group
      label.control-label.col-sm-3(for='displayId') Display ID:
      .col-sm-9
        input#displayId.form-control(type='text', name='displayId', placeholder='Enter your display name')

    .form-group
      label.control-label.col-sm-3(for='email') Email:
      .col-sm-9
        input#email.form-control(type='email', name='email', placeholder='Enter email', required)

    .form-group
      label.control-label.col-sm-3(for='phone') Phone:
      .col-sm-9
        input#phone.form-control(type='tel', name='phone', placeholder='Enter phone', required)

    .form-group
      label.control-label.col-sm-3(for='role') Role:
      .col-sm-9
        select#role.form-control(name='role', ng-model="role")
          each role in listOfRoles
            option(value=role.key)
              | #{role.displayName}

    .form-group(ng-if="role == 'host'")
      label.control-label.col-sm-3(for='address') Address:
      .col-sm-9
        input#address.form-control(type='text', name='address', placeholder='Enter address', required)

    .form-group(ng-if="role == 'host'")
      label.control-label.col-sm-3(for='max-guests') Maximum guests:
      .col-sm-9
        input#max-guests.form-control(type='number', name='maxGuests', placeholder='Enter max guests', min="1", required)

    .form-group(ng-if="role == 'host'")
      label.control-label.col-sm-3(for='preference') Preference:
      .col-sm-9
        input#preference.form-control(type='text', name='preference', placeholder='Enter preference')

    .form-group(ng-if="role == 'driver'")
      label.control-label.col-sm-3(for='total-seats') Total seats:
      .col-sm-9
        input#max-guests.form-control(type='number', name='totalSeats', placeholder='Enter total seats', min="1", required)

    .form-group(ng-if="role == 'driver'")
      label.control-label.col-sm-3(for='total-seats') Need a navigator?:
      .col-sm-9
        .checkbox.checkbox-primary
          input#max-guests.form-control(type='checkbox', name='needNavigator', value="true")

    .form-group
      .col-sm-offset-3.col-sm-10
        button.btn.btn-primary(class=btn-lg  type='submit') Register Person
