extends ../layout

block content
  div(ng-controller="checkInCtrl")
    form
      .form-group
        label(for='fullname') Fullname:
        input#fullname.form-control(type='text', ng-change="updateTable()", ng-model="fullname")
      .form-group
        label(for='text') Country:
        select#country.form-control(name='country', ng-change="updateTable()", ng-model="country")
          option(value="{{country}}", ng-repeat="country in countries")
            | {{country}}
      .form-group
        label(for='text') Filter by attendance:
        .radio
          label
            input(type='radio', name='optradio', value="all", ng-model="attendanceFilter", ng-change="updateTable()", checked="true")
            | Show All
        .radio
          label
            input(type='radio', name='optradio', value="yes", ng-model="attendanceFilter", ng-change="updateTable()")
            | Show Present
        .radio
          label
            input(type='radio', name='optradio', value="no", ng-model="attendanceFilter", ng-change="updateTable()")
            | Show Absent

    hr

    table.table.table-bordered.table-hover
      thead
        tr
          th Fullname
          th Country
          th Major
          th Checked-in
      tbody
        tr(ng-repeat="student in students")
          td
            | {{student.fullname}}
          td
            | {{student.country}}
          td
            | {{student.major}}
          td
            .checkbox
              label.big-checkbox
                input(type='checkbox', ng-true-value="true" ng-false-value="false", ng-checked="student.attendance ? true : false", ng-click="changeAttendance(student)")
