extends layout

block content
  img.img-responsive(src='images/tour-header.jpg')

  .banner
    ul.dl-horizontal
      h3.text-center.banner-item 2017 Tour of Milwaukee Registeration
      p.banner-item Date: August 26, 2017
      p.banner-item Time: 12:00 noon
      p.banner-item Location: Union Ballroom
      p.banner-item For more information, send us a message on Milwaukee Internationals Facebook page or contact Marie Wilke <nmariesw@aol.com>.

  form.form-horizontal(action='/register-for-tour' method='post')
    .form-group
      label.control-label.col-sm-3(for='fullname') Full Name:
      .col-sm-9
        input#fullname.form-control(type='text', name='fullname', placeholder='Enter your fullname', required)

    .form-group
      label.control-label.col-sm-3(for='fullname') Major:
      .col-sm-9
        input#major.form-control(type='text', name='major', placeholder='Enter your major', required)

    .form-group
      label.control-label.col-sm-3(for='country') Country:
      .col-sm-9
        select#country.form-control(name='country')
          each country in listOfCountries
            option(value=country)
              | #{country}

    .form-group
      label.control-label.col-sm-3(for='email') Email:
      .col-sm-9
        input#email.form-control(type='email', name='email', placeholder='Enter email', required)

    .form-group
      label.control-label.col-sm-3(for='phone') Phone:
      .col-sm-9
        input#phone.form-control(type='tel', name='phone', placeholder='Enter phone', required)

    .form-group
      label.control-label.col-sm-3(for='interest') Tell us couple of your main interests?
      .col-sm-9
        tags-input(ng-model='tags', use-strings='true', placeholder='we can try to connect you with people having similar interests')
        input#interest.form-control(type='hidden', name='interest', value='{{tags}}', required)

    .form-group
      .col-sm-offset-3.col-sm-10
        button.btn.btn-default(type='submit') Register for tour of Milwaukee
