extends ../layout

block content
  img.img-responsive(src="/images/tour-header.jpg")

  .container.page-header
    h3
      | 2017 Tour of Milwaukee Registeration
    p
      | Date: August 26, 2017
    p
      | Time: 12:00 noon
    p
      | Location: Union Ballroom
    p
      | Thank you for registering for this event. Please share this with other new international friends.
      | If you need any sort of help (furniture, moving, etc.), please contact Asher Imtiaz (414-499-5360) or Amanda Johnson (414-801-4431) on campus.
      |
    p
      | God bless you!
      | (Team Eastbrook International)
